# Suggested by bundler
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/dummy/db/*.sqlite3*
spec/dummy/log/*
.ruby-version

## PROJECT::SPECIFIC
bin/
railsapps/
gemfiles/*.gemfile.lock
,*
.vagrant
ubuntu*console.log
tmp
# See: https://gist.github.com/ianheggie/9327010
# for Global git ignore for OS/IDE/temp/backup files

spec/dummy/tmp/*
!spec/dummy/tmp/.keep
spec/dummy/db/*.sqlite3
